<form action="./" method="POST" accept-charset="utf-8">
<input type="text" name="ip" placeholder="IP Address" >
<input type="text" name="host" placeholder="Hostname">
<input type="hidden" name="apikey" value="65FB12447DBDE78581FF5EE96826536F00449554F7EB0D758A2EB5B093C27712B0E483A8AA39C9C310FE164405332423D159398EF7D157BEB86697EF21B90A91"> 
<input type="hidden" name="mode" value="add"> 
<input type="submit" value="Submit">
</form>
<a href="./log.txt">LOG</a>
