<form action="./" method="POST" accept-charset="utf-8">
<input type="text" name="ip" placeholder="IP Address" >
<input type="text" name="host" placeholder="Hostname">
<input type="hidden" name="apikey" value=""> 
<input type="hidden" name="mode" value="add"> 
<input type="submit" value="Submit">
</form>
<a href="./log.txt">LOG</a>
